 .search-container{
  background-color: rgba(0, 0, 0, 0.863);
  line-height: 40px;
 }

 .search-container input{
   width: 75%;
 }
 .shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
 }

 .product-container{
    border-right: 1px solid lightgray;
    margin-left: 20px;
    text-align: left;
    
 }

 .cart-container{
    margin-left: 20px;
    text-align: left;
 }